---
layout: default
---
<section>
  <header class="major">
    <h2>Posts</h2>
  </header>
  <div class="posts">
    {% for post in site.posts %}
    <article>
      {% capture full_url %}{{ site.baseurl }}{{ post.url }}{% endcapture %}
      {% include link_image href=full_url url="/pic01.jpg" %}
      <h3>{{ post.title }}</h3>
      {{ post.excerpt }}
      <ul class="actions">
        <li><a href="{{ full_url }}" class="button">More</a></li>
      </ul>
    </article>
    {% endfor %}
  </div>
</section>
