---
layout: default
---
{% if site.tags %}
<section>
  <header class="major">
    <h2>Tags</h2>
  </header>
  <div class="row">
    <ul class="actions small">
      {% if site.tags.first[0] %}
      {% for tag in site.tags %}
      <li><a href="#" class="button small">{{ tag[0] }}</a></li>
      {% endfor %}
      {% else %}
      {% for tag in site.tags %}
      <li><a href="#" class="button small">{{ tag }}</a></li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>
</section>
{% endif %}
<section>
  <header class="major">
    <h2>Posts</h2>
  </header>
  <div class="posts">
    {% for post in site.posts %}
    {% if post.tags %}
    {% assign ptags = post.tags %}
    {% else %}
    {% assign ptags = "untagged" | split: "," %}
    {% endif %}
    <article class="searchable" post-tags="{{ ptags | join: ", " | downcase }}">
      {% capture full_url %}{{ site.baseurl }}{{ post.url }}{% endcapture %}
      {% if post.banner %}
      {% include link_image href=full_url url=post.banner %}
      {% endif %}
      <h3>{{ post.title }}</h3>
      {{ post.excerpt }}
      <ul class="actions">
        <li><a href="{{ full_url }}" class="button">More</a></li>
      </ul>
    </article>
    {% endfor %}
  </div>
</section>
