<header id="header">
  <a href="{{ site.baseurl }}" class="logo"><strong>{{ site.title }}</strong> by {{ site.author.name }}</a>
  <ul class="icons">
    {% if site.author.twitter %}
    <li><a href="https://twitter.com/{{ site.author.twitter }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    {% endif %}
    {% if site.author.facebook %}
    <li><a href="https://www.facebook.com/{{ site.author.facebook }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
    {% endif %}
    {% if site.author.instagram %}
    <li><a href="https://www.instagram.com/{{ site.author.instagram }}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    {% endif %}
    {% if site.author.instagram %}
    <li><a href="https://github.com/{{ site.author.github }}" class="icon fa-github"><span class="label">Instagram</span></a></li>
    {% endif %}
    {% if site.author.weibo %}
    <li><a href="https:///{{ site.author.weibo }}" class="icon fa-weibo"><span class="label">Instagram</span></a></li>
    {% endif %}
  </ul>
</header>
