<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {% if page.title == "Home" %}
    <title>{{ site.title }}</title>
  {% else %}
    <title>{{ page.title }} &middot; {{ site.title }}</title>
  {% endif %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}assets/styles/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/styles/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/styles/hyde.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}assets/images/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <script type="text/javascript">
    window.MathJax = {
      jax: ["input/TeX", "output/HTML-CSS"],
      CommonHTML: { linebreaks: { automatic: true } },
      SVG: { linebreaks: { automatic: true } },
      "HTML-CSS": { linebreaks: { automatic: true } },
      extensions: ["tex2jax.js", "asciimath2jax.js", "mml2jax.js", "MathMenu.js", "MathZoom.js"],
      TeX: {
        extensions: ["AMSmath.js", "AMSsymbols.js", "autoload-all.js"]
      },
      tex2jax: {
        inlineMath: [['$', '$']],
        displayMath: [['$$', '$$']],
        processEscapes: true
      },
      AuthorInit: function () {
        MathJax.Hub.Register.StartupHook("Begin", function () {
          MathJax.Hub.Queue(function () {
            document.getElementById("typeset").style.visibility = "";
            var dispFormulas = document.getElementsByClassName("MathJax_Display");
            if (dispFormulas) {
              for (var i = 0; i < dispFormulas.length; i++) {
                var dispFormula = dispFormulas[i];
                var dispFormulaMath = dispFormula.nextSibling;
                var vdiv = document.createElement("div");
                vdiv.className = "equation";
                dispFormula.parentElement.insertBefore(vdiv, dispFormula);
                vdiv.appendChild(dispFormula);
                vdiv.appendChild(dispFormulaMath);
              }
            }
          });
        });
        MathJax.Hub.Register.MessageHook("End Process", function (message) {
          var timeout = false, // holder for timeout id
          delay = 100; // delay after event is "complete" to run callback
          var reflowMath = function () {
            var dispFormulas = document.getElementsByClassName("equation");
            if (dispFormulas) {
              for (var i = 0; i < dispFormulas.length; i++) {
                var dispFormula = dispFormulas[i];
                var child = dispFormula.getElementsByClassName("MathJax_Display")[0].nextSibling.firstChild;
                var isMultiline = MathJax.Hub.getAllJax(dispFormula)[0].root.isMultiline;
                if (dispFormula.offsetWidth < child.offsetWidth-20 || isMultiline) {
                  MathJax.Hub.Queue(["Rerender", MathJax.Hub, dispFormula]);
                }
              }
            }
          };
          window.addEventListener('resize', function () {
            // clear the timeout
            clearTimeout(timeout);
            // start timing for event "completion"
            timeout = setTimeout(reflowMath, delay);
          });
        });
      }
    };

    (function (d, script) {
      script = d.createElement('script');
      script.type = 'text/javascript';
      script.async = true;
      script.onload = function () {
        // remote script has loaded
      };
      script.src = 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js';
      d.getElementsByTagName('head')[0].appendChild(script);
    }(document));
  </script>
</head>
