---
layout: default
title: SwitchKey
keywords: SwitchKey, macOS, input source, tool, productivity
permalink: /switchkey/
---

<style>
.product-name {
  text-align: center;
}
.product-name small {
  font-size: 50%;
}
.screenshot {
  max-width: 50% !important;
}
</style>
{% include assets/image url="/switchkey.png" alt="SwitchKey" title="SwitchKey" %}
<h1 class="product-name">
SwitchKey
<br/>
<small>automatically use the correct input source</small>
</h1>
<p>
  Ever hassled by wrong input source when switching application?<br/>
  SwitchKey can automatically activate your choice for you.
</p>
<h3>Download & Install</h3>
<p>
  Download (macOS):<br/>
  <a href="https://github.com/itsuhane/SwitchKey/releases/latest/download/SwitchKey.zip"><img alt="Latest" src="https://img.shields.io/badge/dynamic/json?color=brightgreen&label=latest&query=%24.tag_name&url=https%3A%2F%2Fapi.github.com%2Frepos%2Fitsuhane%2FSwitchKey%2Freleases%2Flatest&style=social"/></a><br/>
  Uncompress, then drag & drop into your Applications folder.
</p>
<h3>Usage</h3>
{% include assets/image url="/switchkey-ui.png" class="screenshot" alt="UI" title="UI Screenshot" %}
<dl>
  <dt>Save current input source choice for frontmost application:</dt>
  <dd>click "Add Current".</dd>
  <dt>Enable/disable automatic switch for saved application:</dt>
  <dd>check/uncheck the checkbox on the right.</dd>
  <dt>Remove saved choice:</dt>
  <dd>select the one to be deleted, then press delete key.</dd>
</dl>
<p>Not working? See below.</p>
<h3>First Run</h3>
<p>
  Upon first launch, SwitchKey will ask for accessibility permission.<br/>
  SwitchKey will open accessibility page <strong>and exit</strong>.<br/>
  After you grant permission, re-launch SwitchKey again.<br/>
  The same will happen if you reject the permission later.
</p>
{% include assets/image url="/switchkey-permission.png" class="screenshot" alt="UI" title="UI Screenshot" %}
<h3>Purchase</h3>
<p>
  I wrote this because I tried some other tools.<br/>
  They are either buggy or too cumbersome to configure.<br/>
  I payed money and time for them.<br/>
  So you don't have to pay for them anymore.
</p>
<h3>Bug Report & Feature Request</h3>
<p>Welcome! Please click <a href="https://github.com/itsuhane/SwitchKey/issues/new">here</a>.</p>
