<section id="banner">
  <div class="content">
    <header>
      <h1>It's Winter Now</h1>
      <p>这里是我的杂记。</p>
    </header>
    <p>
least
sparse
implementation
stereo
differential
levelset
coding
distribituon
equation
simutaneously
tracking
multiview
polynomial
nonlinear
localization
filter
random
rotation
opengl
probability
complement
recovery
deep
marginalization
algebra
squares
linear
game
pointer
learning
depth
photo
programming
homography
method
mapping
geometry
camera
epipolar
projection
integration
matrix
decomposition
transformation
condition
    </p>
    <ul class="actions">
      <li><a href="#main-posts" class="button big">What are these blabbering?</a></li>
    </ul>
  </div>
  {% include span_image url="/banner.jpg" pos="object" %}
</section>

