{% if paginator.total_posts >=1 %}
{% for post in paginator.posts %}
<section>
  {% if post.title %}
  <header class="main">
    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
  </header>
  {% endif %}
  {% if post.banner %}
  {% include span_image url=post.banner %}
  {% endif %}
  {{ post.content }}
</section>
{% endfor %}
{% endif %}
{% if paginator.total_pages > 1 %}
<section>
  <ul class="pagination">
    <li>
      {% if paginator.previous_page %}
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="button">Prev</a>
      {% else %}
      <span class="button disabled">Prev</span>
      {% endif %}
    </li>
    {% for page in (1..paginator.total_pages) %}
    <li>
      {% if page == paginator.page %}
      <span class="page active">{{ page }}</span>
      {% elsif page == 1 %}
      <a href="{{ site.baseurl }}/" class="page">{{ page }}</a>
      {% else %}
      <a href="{{ site.baseurl }}{{ site.paginate_path | replace: ':num', page }}" class="page">{{ page }}</a>
      {% endif %}
    </li>
    {% endfor %}
    <li>
      {% if paginator.next_page %}
      <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="button">Next</a>
      {% else %}
      <span class="button disabled">Next</span>
      {% endif %}
    </li>
  </ul>
</section>
{% endif %}
