<section>
  <header class="major">
    <h2>Posts</h2>
  </header>
  {% if paginator.total_posts >=1 %}
  <div class="posts">
    {% for post in paginator.posts %}
    <article>
      {% capture full_url %}{{ site.baseurl }}{{ post.url }}{% endcapture %}
      {% include link_image href=full_url url="/pic01.jpg" %}
      <h3>{{ post.title }}</h3>
      {{ post.excerpt }}
      <ul class="actions">
        <li><a href="{{ full_url }}" class="button">More</a></li>
      </ul>
    </article>
    {% endfor %}
  </div>
  {% else %}
  <p>Unfortunately, we have no posts now. Please check back later.</p>
  {% endif %}
  {% if paginator.total_pages > 1 %}
  <hr class="major" />
  <ul class="pagination">
    <li>
      {% if paginator.previous_page %}
      <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="button">Prev</a>
      {% else %}
      <span class="button disabled">Prev</span>
      {% endif %}
    </li>
    {% for page in (1..paginator.total_pages) %}
    <li>
      {% if page == paginator.page %}
      <span class="page active">{{ page }}</span>
      {% elsif page == 1 %}
      <a href="{{ site.baseurl }}/" class="page">{{ page }}</a>
      {% else %}
      <a href="{{ site.baseurl }}{{ site.paginate_path | replace: ':num', page }}" class="page">{{ page }}</a>
      {% endif %}
    </li>
    {% endfor %}
    <li>
      {% if paginator.next_page %}
      <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="button">Next</a>
      {% else %}
      <span class="button disabled">Next</span>
      {% endif %}
    </li>
  </ul>
  {% endif %}
</section>
