<!DOCTYPE html>
{% if site.lang %}
<html lang="{{ site.lang }}">
{% else %}
<html>
{% endif %}
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{% if page.title == "Home" %}{{ site.title }}{% else %}{{ page.title }} - {{ site.title }}{% endif %}</title>
  {% include assets/style url="//unpkg.com/docsify/lib/themes/vue.css" %}
</head>
<body>
  <div data-app id="docs-main"></div>
  <script>
    window.$docsify = {
      name: '{{ page.title }}',
      el: '#docs-main',
      ext: '.html',
      themeColor: '#505050',
      homepage: 'main/index.html',
      loadSidebar: 'sidebar/index.html',
      loadNavbar: 'navbar/index.html',
      alias: {
        '/(.*)/' : '/$1/index.html'
      },
      plugins: [
        function (hook) {
          hook.doneEach(function () {
            if (typeof MathJax !== 'undefined') {
              MathJax.Hub.Queue(["Typeset", MathJax.Hub])
            }
          })
        }
      ]
    }
  </script>
  {% include assets/script url="//unpkg.com/docsify/lib/docsify.min.js" %}
  {% include assets/script url="//unpkg.com/docsify/lib/plugins/external-script.min.js" %}
  {% include features/mathjax %}
</body>
</html>